[submodule "bundles/neobundle.vim"]
    path = bundles/neobundle.vim
    url = https://github.com/Shougo/neobundle.vim
[submodule "bundles/vimproc.vim"]
    path = bundles/vimproc.vim
    url = https://github.com/Shougo/vimproc.vim
